/* Define your theme modifications inside next mixin */
@mixin com_company_rgr-halo-ext {
  .src-lines-table .v-grid-header {
    background-color: turquoise;
  }

  .staff-plan-table {
    .cell--purple {
      background: rgb(210, 210, 255);
    }

    .cell--green {
      background: rgb(200, 255, 200);
    }

    .cell--gray {
      background: rgb(150, 150, 150);
    }
  }

  .vertical-centered {
    position: relative;
    top: 7px;
  }
}